.color {
    width: 100%;
    font-size: 1em;
    position: fixed;
    bottom: 63px;
    height: 65px;
    text-align: center;
    background-color: #777777;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.color-name-div {
    float: left;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-rgb,
.color-hex {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-rgb:active{
    opacity: 0.8;
}
.color-hex:active {
    opacity: 0.8;
}

.color-name-div {
    transition: all .1s ease-out;
}

.color-name-div:active {
    transform: scale(1.3);
}